<h1 class="h4">Toplantı katılım Listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>Ad</tr>
        <td>Katılım Durumu</td>
        <td>Detay</td>
    </thead>
    <tbody>
        <tr>
            <td>Özgür Ergin</td>

            <td><a href="">Detay</a></td>
        </tr>
        <tr>
            <td>Ahmet Yılmaz</td>

            <td><a href="">Detay</a></td>
        </tr>

    </tbody>
</table>